
<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html>
<head>
    <title>RIREE | 详情</title>
    <meta name="description" content="RIREE（Remote interactive rehabilitation exoskeleton equipment）是一款远程交互式的康复外骨骼设备">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="/admin/dist/img/favicon.png"/>
    <link rel="stylesheet" href="/blog/amaze/css/base.css">
    <!-- highlight -->
    <link rel="stylesheet" href="/blog/plugins/highlight/styles/paraiso-light.css">
    <style>
        .hljs {
            background: none;
        }
        pre code {
            white-space: pre;
        }

        blockquote {
            border-left: 4px solid #42b983;
            padding: 10px 0px 10px 15px;
            color: #777;
            background-color: rgba(66, 185, 131, .1);
            max-width: 890px;
        }
    </style>

</head>
<body>
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-for="toggle-items">
                <span class="sr-only"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">RIREE</a>
        </div>
        <div class="navbar-collapse" style="display: none;" id="toggle-items" >
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/index">主页</a>
                </li>
                <li>
                    <a href="/link">康复</a>
                </li>
                <li>
                    <a href="/about">关于</a>
                </li>
                <li>
                    <a href="/admin/index">个人中心</a>
                </li>
            </ul>
        </div>
        <div id="huxblog_navbar">
            <div class="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/index">主页</a>
                    </li>
                    <li>
                        <a href="/link">康复</a>
                    </li>
                    <li>
                        <a href="/about">关于</a>
                    </li>
                    <li>
                        <a href="/admin/index">个人中心</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.navbar-collapse -->
        <script src="/blog/default/js/jquery.min.js"></script>
        <script>
            $(function () {
                $('.navbar-toggle').click(function () {
                    $('#toggle-items').fadeToggle("fast");
                });
            })
        </script>
    </div>
    <!-- /.container -->
</nav>
<header class="intro-header"
        style="background-image:url(/blog/amaze/images/header.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>远程交互式康复外骨骼设备介绍</h1>
                </div>
            </div>
        </div>
</header>
<div class="container">
    <div class="am-g am-g-fixed blog-fixed">
        <div class="am-u-lg-12 am-u-sm-12">
            <article class="am-article blog-article-p article-trigger">
                <div id="post-content" class="am-article-bd article-body">
                    <p>#远程交互式康复外骨骼设备（RIREE）</p>
                    <p>##作用：帮助上肢偏瘫患者进行康复训练</p>
                    <p>##功能：</p>
                    <ul>
                        <li>####被动训练模式
                            即轨迹跟踪运动，需提前通过实验测量出康复装置可运动的最大角度范围和运动速度，然后内置不同参数范围下的运动轨迹，使用时只需设定合适的参数即可由设备带动患者肢体进行循环运动</li>
                        <li>####主动训练模式
                            即根据患者的主动运动意图运动，通过交互力信号采集设备获取患者的交互力信号，判断运动意图，随后通过阻抗控制或导纳控制的形式建立交互力信号与设备运动之间的关系，从而实现患者通过自身的主动运动意识控制康复训练设备以完成训练任务</li>
                    </ul>
                    <p>##系统控制示意图
                        <img src="http://localhost:8080/upload/20220112_22175787.png" alt="" /></p>
                    <p>##设备硬件参考图
                        <img src="http://localhost:8080/upload/20220112_22181174.png" alt="" /></p>
                    <p>##设备交互界面参考图
                        <img src="http://localhost:8080/upload/20220112_22182137.png" alt="" /></p>

                    <aside class="blog-rights clearfix">
                        <p>本站文章除注明转载/出处外，皆为作者原创，欢迎转载，但未经作者同意必须保留此段声明，且在文章页面明显位置给出原文链接，否则保留追究法律责任的权利。</p>
                    </aside>
                </div>
            </article>
            <hr>
        </div>
    </div>
    <aside class="comments" id="comments">


    </aside>


    <p class="back-top" id="back-top" style="display:none"><a href="#top"><span></span></a></p>
</div>
<footer class="footer blog-footer">
    <div class="blog-text-center">
        &copy;
        <a>RIREE. Wish a speedy recovery.</a>  &nbsp;   • &nbsp;
        Powered by <a href="https://github.com/CONTINUE12" target="_blank">2022 薛定谔的喵</a><br/>
        ICP <a>NEU&amp;Faculty of Robotics Science and Engineering</a>
    </div>
</footer>
</body>
<script src="/blog/default/js/jquery.min.js"></script>
<script src="/blog/plugins/highlight/highlight.pack.js"></script>
<script src="/blog/plugins/comment/valid.js"></script>
<script src="/blog/plugins/comment/comment.js"></script>
<!-- sweetalert -->
<script src="/admin/plugins/sweetalert/sweetalert.min.js"></script>
<script>
    $(function () {
        $("#back-top").hide();
        $(window).scroll(function () {
            if ($(this).scrollTop() > 300) {
                $('#back-top').fadeIn();
            } else {
                $('#back-top').fadeOut();
            }
        });
        // scroll body to 0px on click
        $('#back-top a').click(function () {
            $('body,html').animate({
                scrollTop: 0
            }, 800);
            return false;
        });

        $('pre code').each(function (i, block) {
            hljs.highlightBlock(block);
        });

        $('article h1, article h2, article h3, article h4, article h5').find('a').removeAttr('target')
    })
</script>
</html>
